@font-face {
  font-family: 'FuturaPT';
  src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
    url('../fonts/FuturaPT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../font/FuturaPT-Book.woff2') format('woff2'),
    url('../font/FuturaPT-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../font/FuturaPT-Light.woff2') format('woff2'),
    url('../font/FuturaPT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FuturaPT';
  src: url('../font/FuturaPT-Medium.woff2') format('woff2'),
    url('../font/FuturaPT-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  background-image: url('../img/bg.svg');
  font-family: 'FuturaPT', Arial, sans-serif;
}

.container {
  max-width: 1275px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */

.site-header__up {
  background-color: #F9F8F8;
  padding: 14px 0;
}

.site-header {
  display: flex;
  justify-content: space-between;
  margin-left: 130px;

}

.header__adress {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  display: flex;
  position: relative;
  margin-left: 86px;
}

.header__adress::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url("../img/house.svg");
  left: calc(50% - 130px);
}

.header__telefon-nomer__item {
  padding: 0;
}

.header__telefon-nomer__icon {
  list-style: none;
  position: relative;
}

.header__telefon-nomer__icon::before {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  left: calc(50% - 205px);
  top: 3px;
}

.header__telefon-nomer__link {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #333333;
  margin-left: 22px;
  position: relative;
  transition: color 0.5s ease;
}

.header__telefon-nomer__link:hover {
  color: #FFBD54;
}

.header__telefon-nomer__link:active {
  color: #FFBD54;
  opacity: 0.6;
}

.link-1 {
  margin-left: 0;
}

.link-2::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #FFBD54;
  border-radius: 50%;
  top: 6px;
  left: calc(50% + 64px);
}

.link-2::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #FFBD54;
  border-radius: 50%;
  top: 6px;
  left: calc(50% - 67px);
}

.header__date-time {
  position: relative;

}

.header__date-time::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url("../img/schedule.svg");
  left: calc(50% - 143px);
  top: 2px;
}

.date-time {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.date-time__span {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgb(61, 59, 59);
}

/* site-header-down */

.site-header__down {
  background-color: #fff;
  padding: 20px 0;
}

.header__link--item {
  display: flex;
  align-items: center;
  position: relative;
}

.site-header-logo {
  position: absolute;
  top: -42px;
}

.header__link--icon {
  padding: 0;
  margin-left: 169px;
}

.header__link--links {
  list-style: none;
}

.links {
  text-decoration: none;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin-right: 50px;
  color: #333333;
}

.bosh-qism {
  margin-left: 120px;
}

.contact {
  margin-right: 0;
}

.links__right {
  list-style: none;
  text-decoration: none;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  margin-left: auto;
  position: relative;
}

.links__right::before {
  content: '';
  position: absolute;
  width: 27px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url('../img/pet.svg');
  transform: rotate(-15deg);
  left: calc(50% - 78px);
}

.links__active {
  position: relative;
}

.links__active::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url("../img/active-fish.svg");
  left: calc(50% - 70px);
}

/* HERO */

.hero {
  position: relative;
  background-repeat: no-repeat;
  background-image: url("../img/hero-animals-bg.png");
  background-position: calc(50% - 409px)-182px;
  padding-bottom: 238px;
  background-size: contain;
  overflow: hidden;
}

.hero::after {
  content: '';
  position: absolute;
  width: 319px;
  height: 430px;
  background-image: url("../img/hero-bird.png");
  background-repeat: no-repeat;
  left: calc(50% + 465px);
  top: 347px;
}

.site-hero {
  margin-left: 635px;
}

.site-hero__heading {
  padding: 0;
  margin-top: 153px;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 64px;
  color: #333333;
  width: 608px;
}

.site-hero__span {
  color: #44abe7;
  opacity: 0.6;
}


.site-hero__text {
  margin: 0;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  width: 495px;
  margin-top: 24px;
  color: #949494;
  margin-bottom: 51px;
}

.site-hero__link {
  text-decoration: none;
  border: 2px solid black;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  background: #333333;
  border-radius: 3px;
  padding: 15px 48px;
  color: #FFFFFF;
  margin-bottom: 327px;
}

/* feature */

.feature {
  margin-top: 85px;
}

.feature__contant {
  overflow: hidden;
}

.feature__contant--heading {
  position: relative;
  width: 889px;
  font-family: 'FuturaPT', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #949494;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  margin-top: 43px;
}

.feature__contant--heading::before {
  content: '';
  display: block;
  width: 148px;
  height: 78px;
  background-repeat: no-repeat;
  background-image: url('../img/qoshtirnoq-open.svg');
  left: calc(50% - 525px);
  top: -40px;
}

.feature__contant--heading::after {
  content: '';
  position: absolute;
  width: 148px;
  height: 78px;
  background-repeat: no-repeat;
  background-image: url('../img/qoshtirnoq-close.svg');
  left: calc(50% + 510px);
  top: 22px;
}


.feature__contant--text {
  font-family: 'Futura PT';
  margin-top: 70px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.line {
  width: 140px;
  width: 140px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

/* nasha-usluga */

.nasha-usluga__heading {
  margin-bottom: 80px;
  margin-top: 191px;
  display: flex;
  justify-content: center;
}

.nasha-usluga__item {
  list-style: none;
  padding: 0;
  display: flex;
  overflow: hidden;
}

.nasha-usluga__link {
  width: 195px;
  background: #FFFFFF;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  padding-top: 129px;
  padding-bottom: 43px;
  position: relative;
  margin-left: 13px;
}

.nasha-usluga__link::before {
  content: '';
  position: absolute;
  width: 78px;
  height: 78px;
  background-repeat: no-repeat;
  background-image: url('../img/nashi-uslugi-doctor.svg');
  top: 31px;
  left: calc(50% - 38px);
  flex-shrink: 0;
}

.usluga__link-2::before {
  background-image: url("../img/nashi-uslugi-xamshira.svg");
}

.usluga__link-3::before {
  background-image: url("../img/nashi-uslugi-dog.svg");
}

.usluga__link-4::before {
  background-image: url("../img/nashi-uslugi-small__dog.svg");
}

.usluga__link-5::before {
  background-image: url("../img/nashi-uslugi-mikraskop.svg");
}

.usluga__link-6::before {
  background-image: url("../img/nashi-uslugi-dogs.svg");
}

.nasha-usluga__text {
  text-decoration: none;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

/* down */
.nasha-down {
  background-color: #fff;
  padding: 41px 64px 41px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.down__heading {
  font-family: ' Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  margin-bottom: 19px;
  display: flex;
  align-items: center;
  color: #333333;
}

.down__text {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  width: 492px;
}

.down__text2 {
  margin-bottom: 66px;
  margin-top: 9px;
}

.down__icon {
  list-style: none;
  padding: 0;
  display: flex;
}

.down-links2 {
  border: 2px solid transparent;
  padding: 15px 36px 15px 63px;
  text-decoration: none;
  margin-right: 20px;
  background: #FFBD54;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  white-space: nowrap;
  position: relative;
  transition: all 0.5s ease;
}

.down-links2:hover {
  background: rgba(255, 189, 84, 0.8);
  border-radius: 3px;
  color: #fff;
}

.down-links2:active {
  background: rgba(255, 189, 84, 0.6);
  border-radius: 3px;
  color: #fff;
}

.down-links2::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 21px;
  background-repeat: no-repeat;
  background-image: url('../img/money.svg');
  left: calc(50% - 61px);
  top: 13px;
}

.down-links {
  border: 2px solid black;
  padding: 15px 36px 15px 63px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  position: relative;
  transition: all 0.5s ease;
}

.down-links:hover {
  background: rgba(51, 51, 51, 0.8);
  color: #fff;
}

.down-links:active {
  background: rgba(51, 51, 51, 0.6);
  color: #fff;
}

.down-links::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 21px;
  background-repeat: no-repeat;
  background-image: url('../img/document.svg');
  left: calc(50% - 96px);
  top: 11px;
}

/* main__middle */

.main__middle {
  background-image: url('../img/Mask-Group.svg');
  margin-top: 235px;
}

.main__middle--up {
  padding: 71px 0;
  position: relative;
}


.main__middle--up::before {
  content: '';
  position: absolute;
  width: 613px;
  height: 481px;
  background-repeat: no-repeat;
  background-image: url("../img/kisspng-dog-grooming-puppy-pet-veterinarian-dogs-5ab3e2fb839b14\ 1.svg");
  top: -78px;
  left: calc(50% + 15px);
}

.main__middle--heading {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.main__middle--form {
  display: flex;
  margin-top: 32px;
}

.email {
  padding: 18px 147px 18px 22px;
  border-radius: 5px;
  border: none;
}

.email-button {
  padding: 0 52px;
  margin-left: 21px;
  background-color: #000;
  border-radius: 3px;
  color: #fff;
}

.contacts-contant{
  margin-bottom: 265px;
}

.contacts-contant__icon {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.contacts-contant__heading {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  margin-top: 216px;
  margin-bottom: 80px;
  color: #333333;
}

.contacts-contant__section {
  list-style: none;
  padding: 0;
  width: 305px;
  border: 1px solid #979797;
}

.contacts-contant__date {
  display: flex;
  justify-content: flex-end;
  margin-right: 24px;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #949494;
  margin-top: 22px;
  margin-bottom: 2px;
}

.contacts-contant__wrapper {
  padding: 0 31px 37px 30px;
}

.contacts-contant__head {
  font-family: ' Futura PT';
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 10px;
}


.contacts-contant__decs {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin-bottom: 38px;
}

.contacts-contant__link {
  text-decoration: none;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  position: relative;
  margin-left: 27px;
}

.contacts-contant__link::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 21px;
  background-repeat: no-repeat;
  background-image: url("../img/pet.svg");
  transform: rotate(-15deg);
  left: calc(50% - 85px);
}

.contacts-contant__section2 {
  display: flex;
  width: 640px;
}

.contacts-contant__span {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #3D9CEA;
}

/* FORM */

.yandex-map {
  width: 462px;
  height: 652px;
}

.form__wrapper {
  width: 375px;
  margin-left: 67px;
}

.form {
  background-image: url("../img/Feedback1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333333;
  background-size: contain;
  display: flex;
}

.form__wrapper--heading {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 62px;
  margin-top: 62px;
  margin-bottom: 14px;
  color: #FFFFFF;
}

.name__form {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  padding: 16px 133px 13px 22px;
  color: #949494;
}

.text__form {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  padding: 16px 133px 13px 22px;
  color: #949494;
  margin-top: 14px;
}

.textarea__form {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  padding: 16px 76px 13px 22px;
  color: #949494;
  margin-top: 14px;
  margin-bottom: 45px;
  max-width: 375px;
  max-height: 165px;

}

.form__wrapper--text {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 29px;
  color: #949494;

}

.form__wrapper--link {
  font-family: ' Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  padding: 15px 49px;
  color: #FFFFFF;
  background-color: #FFBD54;
  border: 2px solid #FFBD54;
  cursor: pointer;
}

/* footer */

.footer {
  background-color: #F3F3F3;
  padding: 61px;
  margin-top: 247px;
}

.site__footer {
  display: flex;
  justify-content: space-between;
}

.site-footer__left {
  padding: 0;
  display: flex;
}

.site-footer__item {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;
}

.site-footer__time::before {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  background-image: url("../img/schedule.svg");
  background-repeat: no-repeat;
  left: calc(50% - 6px);
}

.site-footer__link {
  text-decoration: none;
  margin-bottom: 16px;
  color: #333333;
  transition: color 0.5s ease;
}

.site-footer__link:hover {
  color: #FFBD54;
}

.site-footer__link:active {
  color: rgba(51, 51, 51, 0.7);

}

.link__active {
  margin-bottom: 0;
}

.footer__faq {
  margin-left: 54px;
}

.date-time {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.site-footer__time {
  display: flex;
  flex-direction: column;
}

.adress-footer {
  width: 160px;
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  position: relative;
}

.adress-footer::before {
  content: '';
  width: 17px;
  height: 16px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('../img/house.svg');
  left: calc(50% - 102px);
  top: 5px;
}

.site-footer__right {
  padding: 0;
}

.site-footer__telefon-nomer {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;
}

.site-footer__telefon-nomer::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../img/phone.svg");
  left: calc(50% - 73px);
  top: 3px;
}

.footer__telefon {
  text-decoration: none;
  margin-bottom: 4px;
  font-family: 'Futura PT';
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  transition: color 0.5s ease;
}

.footer__telefon:hover {
  color: #FFBD54;
}

.footer__telefon:active {
  color: #FFBD54;
  opacity: 0.6;
}

.telefon__active {
  margin-bottom: 0;
}

.example {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  justify-content: flex-end;
  margin-top: 63px;
  color: #5C5C5C;
}